<div id="header">
	<h1>Neuer Kunde</h1>
</div>
<% @customer = Customer.new%>
<% @address = Address.new%>
<% @customerattribute = CustomerAttribute.new%>
<%= form_tag(customers_path()) do %>
<%= render 'custform' %>
<div>
	<%= submit_tag "Kunde anlegen" %>
</div>
<%end%>

<%= link_to 'Zurück', customers_path() %>
<script></script>
