<% @customer = Customer.new %>
<% @customer = @invoice.customer %>
<% @invoiceposses = InvoicePoss.find_all_by_invoice_id(@invoice.id) %>
<p>
	<b>Rechnungsnummer:</b>
	<%= @invoice.invoicenr %>
</p>
<p>
	<b>Firmenname:</b>
	<%= @customer.companyname %>
</p>
<%= render 'invoice_posses/newinvoicepos' %>
<br/>
<br/>
<br/>
<%= link_to 'Zurueck', invoices_path() %> 