<% @invoices = @customer.invoices%>
<p>
	<b>Firmenname:</b>
	<%= @customer.companyname %>
</p>
<% @invoices.each do |i| %>
<% @filepaths = FilePath.find_all_by_invoice_id(i.id)%>
<p>
	<b>Rechnungsnummer:</b>
	<%= i.invoicenr %>
</p>
<% @filepaths.each do |fp| %>
<p>
	<b>Rechnung (PDF):</b>
	<%= link_to 'Druckbare Rechnung (PDF)', invoices_showpdf_path(:id => i.id) %>
</p>
<%end%>
<%end%>
<br/>
<%= link_to 'Zurueck', customers_path() %> 