<% @invoices = @customer.invoices%>
<p>
	<b>Firmenname:</b>
	<%= @customer.companyname %>
</p>
<% @invoices.each do |i| %>
<p>
	<b>Rechnungsnummer:</b>
	<%= i.invoicenr %>
</p>
<%end%>
<br/>
<%= link_to 'Zurueck', customers_path() %> 