
<h1>Rechnungsverwaltungssoftware</h1>
<%= link_to 'Kunden verwalten', customers_path %>
<%= link_to 'Rechnungen verwalten', invoices_path %>
<br/>
<br/>

<html>
<!--   <a href="home/jQuery.html">jQuery</a> -->
</html>


